{%extends 'admin/base_site.html'%}

{%block content%}
<div class="col-12">
    
    {%if due_session%}
    <div class="row">    
            <div class="col-md-8">
                <div class="card" >
                    <div class="card-body">
                        <h4 class="header">Sessional Charges</h4>
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Type</th>
                                    <th>Charge</th>
                                </tr>
                            </thead>
                            {% for type,charge in session_items %}
                                <tr>
                                    <td>{{type}}</td>
                                    <td>{{charge}}</td>
                                </tr>
                            {% endfor %}
                            <tfoot>
                                <tr>
                                    <td>Session Total</td>
                                    <td>{{session_total}}</td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
    </div>
    {%endif%}
    
    <div class="row">
     
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h4 class="heading">Monthly Charges</h4>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Charge/month</th>
                                <th>Total Charge</th>
                            </tr>
                        </thead>
                        {% for item,value in month_items %}
                        <tr>
                            <td>{{item}}</td>
                            <td>{{value}}</td>
                            <td>{% widthratio value 1 number_due_months%}</td>
                        </tr>
                        {% endfor %}
                        <tfoot>
                            <tr>
                                <td>Month Total</td>
                                <td>{{month_total}}</td>
                                <td>{% widthratio month_total 1 number_due_months%}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card" >
                <div class="card-body">
                    <h4 class="header">Due Months : {{number_due_months}}</h4>
                    <ol>
                        {% for month in due %}
                            <li>{{month}}</li>
                        {% endfor %}
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h3 class="heading ">Total</h3>
                    <div class="card-text">
                    <table class="table table-hover">
                        <tr>
                            <td>Grand Total (session+monthly)</td>
                            <td>{{grand_total}}</td>
                        </tr>
                        <tr>
                            <td>Deposit</td>
                            <td>{{deposit}}</td>
                        </tr>
                        <tr>
                            <td>Final Ammount Payable</td>
                            <td>{{amount_payable}}</td>
                        </tr>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form class="form-inline" action="" method="POST">
                        {%csrf_token%}
                        <div class="form-group mx-sm-3 mb-2">
                          <label for="amount" class="">Amount : </label>
                          <input name="amount" type="number" class="form-control mx-sm-3" id="amount" placeholder="min {{grand_total}}">
                        </div>
                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                    </form>
                </div>
            </div>
        </div>     
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="card" >
                <div class="card-body">
                    <h4 class="header">Paid Months</h4>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Month</th>
                                <th>Transction No.</th>
                            </tr>
                        </thead>
                        {% for month,trx in paid %}
                            <tr>
                                <td>{{month}}</td>
                                <td>{{trx}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>  
    </div>

</div>
{%endblock%}
