{% extends "base.html" %}
{% load static %}

{% block header %}
<!-- <link rel="stylesheet" href="{% static "/styles/dues.css" %}" /> -->
{% endblock %}

{% block content %}

<div class="stu-details container">
    <div class="row">
       <div class="col-md-6">
           <div class="row">
            <div class="card shadow rounded m-sm-5" style="width: 90%;">
                <div class="card-body">
                  <h5 class="card-header mb-3">Student Details</h5>
                  <p class="card-text">Name : Arnab <br> <span class="mr-5">Class : </span>      Sec : <br> Roll No. </p>
                </div>
              </div>
           </div>
           <div class="row">
                <div class="card shadow rounded m-sm-5" style="width: 90%;">
                    <div class="card-body">
                        <h5 class="card-header mb-3">Due</h5>
                        <h5 class="card-title">You have 500 due</h5>
                        <p class="card-text">You have 500 due for jan feb march</p>
                    </div>
                </div>
           </div>
       </div>
       <div class="col-md-6">
           <div class="card m-sm-5">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Month</th>
                    <th scope="col">Billed Ammount</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>January</td>
                    <td>500</td>
                    <td>paid <i class="fas fa-check-circle text-success"></i></td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>February</td>
                    <td>400</td>
                    <td>Pending <i class="fas fa-history text-warning"></i></td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>March</td>
                    <td>600 Bird</td>
                    <td>Due</td>
                  </tr>
                </tbody>
              </table>
           </div>
       </div>
    </div>
    <div class="row d-flex flex-row-reverse align-items-center" style="align-items: center;">
        <a class="btn btn-danger" href="#"><i class="fas fa-times-circle"></i>Decline</a>
        <a class="btn btn-success"href="#"><i class="fas fa-check-circle"></i>Accept</a>
        <p style="margin: 0; padding-right:2rem;"><strong> Conitnue to pay ?</strong></p>
    </div>
</div>

{% endblock %}

{% block endscript%}
<script src="{% static "/scripts/dues.js" %}"></script>
{%endblock%}
